@{
    ViewBag.Title = "Interactions";
    ViewBag.jTableStyle = "~/css/jtable/themes/metro/blue/jtable.min.css";
}

<section>
    <h1> @ViewBag.Title </h1>
    <hr />
    <div id="interactionContainer" class="jtable-div"></div>
</section>

@section scripts
{
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jtable.min.js"></script>

    <script type="text/javascript">
        $(function() {

           $('#interactionContainer').jtable({
                    title: 'Interactions',
                    paging: true,
                    sorting: false,
                    columnSelectable: false,
                    AntiForgeryToken: '@Html.AntiForgeryTokenValue()',
                    actions: {
                        listAction: '@Url.Action("List")',
                        deleteAction: '@Url.Action("Delete")',
                        createAction: '@Url.Action("Add")',
                        updateAction: '@Url.Action("Edit")'
                    },
                    fields: {
                        Id: {
                            key: true,
                            create: false,
                            edit: false,
                            list: false
                        },
                        ContactId: {
                            title: 'Contact',
                            options: '/Contact/GetAll'
                        },
                        Method: {
                            title: 'Interaction Method',
                            options: {
                                '0': 'Phone',
                                '1': 'Email',
                                '2': 'Forum',
                                '3': 'SocialMedia',
                                '4': 'EmbeddedChat',
                                '5': 'Other'
                            }
                        },
                        MethodDetails: {
                            title: 'Method Details'
                        },
                        Notes: {
                            title: 'Notes'
                        },
                        InteractionDate: {
                            title: 'Interaction Date',
                            type: 'date'
                        },
                        CreatedDate: {
                            title: 'Created Date',
                            create: false,
                            edit: false
                        },
                        CreatedByName: {
                            title: 'Created By',
                            create: false,
                            edit: false
                        }
                    }
                }).jtable('load');
        });
    </script>
}

@section cssImport
{
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(ViewBag.jTableStyle)" rel="stylesheet" type="text/css" />

    <style>
        .child-opener-image {
            cursor: pointer;
        }

        .child-opener-image-column {
            text-align: center;
        }

        .jtable-dialog-form {
            min-width: 220px;
        }

            .jtable-dialog-form input[type="text"] {
                min-width: 200px;
            }
    </style>
}